@import '../../styles/variables.scss';

.separator {
  display: block;

  position: relative;

  margin: gutter(4) auto;

  background: rgba(0, 0, 0, 0.3);

  width: 100%;
  height: 2px;

  &:after {
    position: absolute;
    top: -1px;

    transform: rotate(45deg);

    background: $gold3;

    width: 4px;
    height: 4px;

    content: '';
  }
}
