@import '../../styles/globals.scss';

.button {
  position: relative;
  opacity: 1;
  transition: all 200ms;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid;
  padding-top: 0.75rem;
  padding-right: 1.5rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  color: $white;
  font-weight: 700;
  font-size: 0.85rem;
  text-transform: uppercase;

  &:hover {
    opacity: 0.8;
  }
}

.button--primary {
  border-color: $dark-orange;
  background: linear-gradient(90deg, $dark-orange, $orange);

  &:hover {
    background: linear-gradient(90deg, $orange, $gold, $orange);
  }
}

.button--secondary {
  border-color: $jet-black;
  background: linear-gradient(90deg, $black, $jet-black);
  color: $beige;

  &:hover {
    border-color: $jet-black;
    background: linear-gradient(90deg, $black, $beige, $black);
    color: $jet-black;
  }
}

.button--link {
  box-shadow: none;
  border: none;

  background: none;

  padding: 0;

  @include typography(12px, $orange, 700);

  &:hover {
    transform: scale(1.05);
  }
}
