@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$button-icon-size: 12px;
$button-text-size: 12px;
$button-font-family: 'Open Sans';
$button-text-color: $dark-brown;
$button-background: linear-gradient(180deg, $gold3 0%, $gold 40%, $gold3 90%);
$button-background-hover: linear-gradient(
  180deg,
  $gold3 0%,
  lighten($gold, 10%) 30%,
  $gold3 100%
);
$button-min-width: 120px;

.button {
  display: flex;
  justify-content: center;
  gap: gutter();

  cursor: pointer;

  // Adds depth to the button with an inset shadow around the perimeter
  box-shadow:
    inset 15px 0 20px lighten($secondary-color, 10%),
    inset -15px 0 20px lighten($secondary-color, 10%);

  // Dynamic gradient border
  border: 6px solid;
  border-image-source: radial-gradient($grey, $grey2);
  border-image-slice: 1;

  background: $button-background;

  padding: gutter(3) gutter(5);

  min-width: $button-min-width;

  text-align: center;
  text-shadow: $text-shadow-default;
  text-transform: uppercase;

  @include typography(
    $button-text-size,
    $button-text-color,
    700,
    $button-text-size,
    $button-font-family
  );

  svg {
    width: $button-icon-size;
    height: $button-icon-size;
  }

  &:hover {
    background: $button-background-hover;
  }
}
