@import '../../styles/variables.scss';

$list-width: 310px;
$list-height: 230px;

.list {
  cursor: pointer;

  margin: 0;
  margin-right: gutter(2);
  padding: 0 gutter(4);

  width: $list-width;
  height: $list-height;

  overflow: scroll;

  list-style: none;

  text-align: left;
}
