@import '../../styles/variables.scss';

$list-width: 310px;
$list-height: 230px;

.list {
  cursor: pointer;

  margin: 0;
  margin-right: gutter(2);
  padding: 0 gutter(4);

  width: $list-width;
  height: $list-height;

  overflow: auto;

  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  scrollbar-width: thin;

  list-style: none;

  text-align: left;
}
