@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$checkbox-size: 14px;

.list-item {
  @include typography(15px, $primary-color, 600, 15px);

  display: flex;
  align-items: center;

  &:hover {
    color: $tertiary-color;
  }

  &:active {
    color: $primary-color;
  }

  .list-item-checkbox {
    display: flex;
    align-content: center;
    justify-content: center;

    margin-right: gutter(2);

    background: $icon-color-inactive;

    width: $checkbox-size;
    height: $checkbox-size;
  }
}

.list-item--disabled {
  opacity: 0.3;
  pointer-events: none;
}
