// Colors
$black: rgb(20, 20, 20);
$jet-black: black;
$dark-teal: #10191f;
$white: #fff;
$purple: #9e72c3;
$khaki: #d2b48c;
$green: #028b8b;
$pink: #f376f2;
$teal: #2de3ed;
$teal2: #388ec6;
$grey: #6e6e6e;
$light-grey: #b4b4b4;
$gold: #ffcf40;
$orange: #f59c4d;
$indigo: #2d5aac;
$dark-orange: #833c14;
$red: rgb(177, 36, 36);
$beige: #e9e2bf;

// UI Elements Variables
$primary-color: $purple;
$secondary-color: $orange;
$text-color: $grey;
$background-body: linear-gradient(45deg, $indigo, $teal);
$background-default: $white;

$logo-size: 80px;

// Borders
$border-radius-default: 4px;
$border-radius-large: 8px;

$border-default: 1px solid $light-grey;
$border-darker: 1px solid $grey;

// Shadows
$box-shadow-default: 2px 2px 4px rgba(0, 0, 0, 0.3);
$box-shadow-pink-glow:
  0 0 7.5px 3.75px $white,
  0 0 12.5px 7.5px $purple,
  0 0 17.5px 11.25px $pink;
$box-shadow-pink-glow--large:
  0 0 15px 7.5px $white,
  0 0 25px 15px $purple,
  0 0 35px 22.5px $pink;

// Effects
$shine-gradient: linear-gradient(
  120deg,
  rgba(255, 255, 255, 0) 30%,
  rgba(255, 255, 255, 0.8),
  rgba(255, 255, 255, 0) 70%
);

// Functions

// Helper function to calculate the gutter
$gutter-base: 4px;
@function gutter($n: 1) {
  @return $n * $gutter-base;
}

// A helper function to set text properties
@mixin typography(
  $size: false,
  $color: false,
  $weight: false,
  $line-height: $size,
  $font-family: 'Open Sans'
) {
  @if $size {
    font-size: $size;
  }

  @if $color {
    color: $color;
  }

  @if $weight {
    font-weight: $weight;
  }

  @if $line-height {
    line-height: $line-height;
  }

  @if $font-family {
    font-family: $font-family;
  }
}

// Animations

@keyframes shine {
  0% {
    left: -100%;
  }
  5% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes shake {
  0% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}
