@import '../../styles/globals.scss';

.logo {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);

  transition: all 0.1s linear;

  img {
    -webkit-mask-image: url('../../assets/logo.svg');
    mask-image: url('../../assets/logo.svg');

    -webkit-mask-size: contain;
    mask-size: contain;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    width: $logo-size;
    height: $logo-size;
  }

  &:before {
    display: inline-block;
    position: absolute;

    transition: all 0.1s linear;

    outline: calc($logo-size / 15) solid $white;
    box-shadow: $box-shadow-pink-glow;

    border-radius: 50%;
    background: $white;

    width: $logo-size;
    height: $logo-size;

    content: '';
  }

  &:hover {
    transform: translate(-50%, -50%) scale(1.05);

    &:before {
      box-shadow: $box-shadow-pink-glow--large;
    }
  }

  &:active {
    transform: translate(-50%, -50%) scale(1);
  }
}
