@import './styles/variables.scss';
@import './styles/mixins.scss';

.container {
  display: flex;
  position: relative;
  flex-direction: column;

  z-index: 1;

  border: 6px solid $grey2;

  background: url('./assets/tile.jpeg');
  background-size: 200px;
  background-repeat: repeat;

  padding: gutter(4) gutter(4);

  user-select: none;

  text-align: center;

  .title {
    display: flex;
    justify-content: space-evenly;
    gap: 110px;

    margin: 0;

    @include typography(32px, $black, 500, 32px, 'Bebas Neue');
  }
}
