@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.multi-range {
  display: flex;
  align-items: center;
  gap: gutter(2);

  margin-top: gutter(4);

  width: calc(100% - 40px);

  &-input {
    .rc-slider-rail {
      background: $white;
    }

    .rc-slider-track {
      background: linear-gradient(
        90deg,
        $tertiary-color,
        lighten($tertiary-color, 15%),
        $tertiary-color
      );
    }

    .rc-slider-handle {
      opacity: 1;

      border: none;
      border-radius: 0;

      background: transparent;

      &:after {
        position: absolute;
        left: 0;

        transform: rotate(45deg);

        background: $primary-color;

        width: 100%;
        height: 100%;

        content: '';
      }

      &-dragging {
        box-shadow: none !important;

        border: none;
        &:after {
          box-shadow: $box-shadow-gold-glow--small;
        }
      }
    }
  }

  &-value {
    width: 18px;
    @include typography(12px, $primary-color, 500, 12px, 'Bebas Neue');
  }
}
